<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Picture Engineer">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="pratikborsadiya">
    <meta property="twitter:creator" content="pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Picture Engineer">
    <meta property="og:title" content="Picture Engineer">
    @*<meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
        <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">*@
    <meta property="og:description" content="Picture Engineer">
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!-- Toastr Notification -->
    <link rel="stylesheet" type="text/css" href="~/message-box/toastr.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index", "HomeAdmin", null, Context.Request.Scheme)">Picture Engineer</a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">

            </li>
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Profile", "Profile", null, Context.Request.Scheme)">
                            <i class="fa fa-user fa-lg"></i> Tài khoản
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Logout", "AccountLogin")"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a>

                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    @{ await Html.RenderPartialAsync("_Menu.cshtml"); }
    <main class="app-content">
        @RenderBody()
    </main>
    <!-- Essential javascripts for application to work-->
    <script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <!-- Sweetalert Notification -->
    @*<script type="text/javascript" src="~/js/required.js"></script>*@
    <script type="text/javascript" src="~/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/required.js"></script>
    <!--Toastr notification-->
    <script type="text/javascript" src="~/message-box/toastr.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/js/chart.js"></script>
    @RenderSection("scripts", false)
</body>
</html>